# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/ # dockerignore doesn't support for ** so, these 3 lines.
.env/
.venv/
venv/
